/* PC */

@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .toggle-menu {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Tablet and mobile */

@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    .navbar__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.25s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        padding: 60px;
        background-color: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~  .menu-drawer {
        transform: translateX(0);
    }

    .seperate {
        border-top: 2px solid #ebebeb;
    }

    .hero .hero-img {
        display: none;
    }

    .hero-wrap .info {
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }

    .clients .images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .guides .list-guides .guides-item{
        flex: 1;
        margin: 0;
    }

    .featured .list-featured {
        grid-template-columns: 1fr 1fr;
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .img-block, .stats .infor-block {
        width: 100%;
    }

    .stats .img-block {
        order: 2;
        margin-top: 80px;
    }

    .stats .infor-block {
        order: 1;
        padding: 0;
    }

    .stats .row-qty {
        flex-direction: row;
    }

    .stats .row-qty .qty-item .qty {
        font-size: 5rem;
    }

    .stats .row-qty .qty-item .qty-desc {
        font-size: 1.5rem;
    }

    .subscription .image {
        display: none;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 80px;
    }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}


/* Mobile */

@media screen and (max-width: 767px) {
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .actions {
        display: none;
    }

    .hide-on-mobile {
        display: none;
    }

    .clients .images {
        row-gap: 20px;
    }

    .guides .list-guides {
        flex-direction: column;
        row-gap: 60px;
    }

    .guides .guide-cta {
        margin-top: 60px;
    }

    .featured header .row .link {
        display: none;
    }

    .featured .list-featured {
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    .featured .view-all {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .stats .img-block .image {
        width: 100%;
    }

    .stats .row-qty {
        flex-direction: column;
        row-gap: 60px;
    }

    .subscription .body {
        height: auto;
    }

    .subscription .body .infor {
        margin-left: 0;
        padding: 16px 16px;
    }

    .footer .row-top {
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    .footer .row-bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }
}