/* PC */

@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .toggle-menu {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Tablet and mobile */

@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    .navbar__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.25s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        padding: 60px;
        background-color: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~  .menu-drawer {
        transform: translateX(0);
    }

    .seperate {
        border-top: 2px solid #ebebeb;
    }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}


/* Mobile */

@media screen and (max-width: 767px) {
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .actions {
        display: none;
    }
}