* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* header */
.header {
    position: relative;
    background-color: #e6f0ff;
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-left: 50px;
}

.navbar ul li a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4F5361;
    padding: 8px 14px;
}

.navbar ul li a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

/* Hero */

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
}

.hero .description {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2;
}

.hero .hero-cta {
    min-width: 170px;
}

.hero .hero-img {
    position: absolute;
    right: calc((100vw - 1110px)/2 - 100px);
    bottom: 0;
}

/* Clients */

.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7D8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .images a{
    display: flex;
    align-items: center;
    height: 91px;
    padding: 0 32px;
}

.clients .images a:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* Guides */

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
    text-align: center;
    color: #5A6473;
}

.guides .list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guides .list-guides .guides-item {
    margin: 0 70px;
    text-align: center;
}

.guides .list-guides .guides-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3B3C45;
}

.guides .list-guides .guides-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #0689FF;
}

.guides .list-guides .guides-item .link .arrow {
    margin-left: 8px;
}

.guides .guide-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.guides .guide-cta .btn {
    min-width: 170px;
}

/* Featured */

.featured {
    margin-top: 41px;
    padding: 110px 0;
    background-color: #F5FAFE;
}

.featured header h2 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured header .row .desc {
    font-weight: 400;
    font-size: 1, 6rem;
    line-height: 1.875;
    color: #5A6473;
}

.featured header .row .link {
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689FF;
}

.featured header .row .link .arrow {
    margin-left: 8px;
    position: relative;
    top: -2px;
}

/* list featured */

.featured .list-featured {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.featured .list-featured .item {
    flex: 1;
    border-radius: 12px;
    background-color: #fff;
}

.featured .list-featured .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .list-featured .body {
    padding: 17px 20px 24px;
}

.featured .list-featured .item .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
}

.featured .list-featured .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #A3A6AB;
    --line-clamp: 3;
    word-break: break-all;
}

.featured .list-featured .item .infor {
    display: flex;
    margin-top: 21px;
    align-items: center;
}

.featured .list-featured .item .infor .icon {
    margin-left: 23px;
}

.featured .list-featured .item .infor .icon:first-child {
    margin-left: 0;
}

.featured .list-featured .item .infor .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

/* Stats */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats .img-block,
.stats .infor-block {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .infor-block {
    padding-top: 79px;
    padding-left: 165px;
}

.stats .infor-block .title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.3;
    color: #000339;
    position: relative;
    ;
}

.stats .infor-block .title::before {
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    position: absolute;
    left: 0;
    top: -5px;
    border-radius: 12px;
}

.stats .infor-block .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #5A6473;
}

/* stat trend */
.stats .img-block .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
    background: #fff;
}

.stats .img-block .stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats .img-block .stats-trend .icon {
    margin-left: auto;
}

.stats .img-block .stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #A7A7A7;
}

.stats .img-block .stats-trend .separate {
    margin-top: 25px;
    height: 1.2px;
    background: #E9E9E9;
}

.stats .img-block .stats-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 16px;
    margin-top: 25px;
}

.stats .img-block .stats-trend .avatar-block .avatar-group {
    display: flex;
}

.stats .img-block .stats-trend .avatar-block .avatar-group .avatar {
    margin-left: -3px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--bg-color, #fff);
    font-weight: 450;
    font-size: 0.7rem;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.stats .img-block .stats-trend .avatar-block .avatar-group .avatar:first-child {
    margin-left: 0;
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}

.stats .row-qty .qty-item .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.stats .row-qty .qty-item .qty-desc {
    margin-top: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #7B8087;
}

/* Subscription */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    height: 370px;
    background: #063183;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.subscription .body .infor {
    width: 741px;
    max-width: 100%;
    margin-left: 80px;
}

.subscription .infor .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #FFFFFF;
}

.subscription .infor .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #FFFFFF;
    opacity: 0.75;
}

.subscription .infor .btn {
    margin-top: 20px;
    min-width: 151px;
    color: #002366;
    background: #FFFFFF;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */

.footer {
    margin-top: 50px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .row .heading {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1C1C1D;
}

.footer .row .list,
.footer .row .desc {
    margin-top: 42px;
}

.footer .row .list .item {
    margin-top: 18px;
}

.footer .row .list .item a,
.footer .row .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #7A7A7E;
    white-space: nowrap;
}

.footer .row .desc {
    white-space: normal;
}

.footer .social {
    margin-top: 40px;
    display: flex;
}

.footer .social .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: #F9F9F9;
    margin-right: 16px;
}

.footer .social .social-link:hover {
    background: #ebebeb;
}

.footer .row-bottom {
    margin-top: 81px;
    align-items: center;
    justify-content: space-between;
}

.footer .row-bottom .copy-right {
    font-weight: 400;
    font-size: 1.4rem;
    color: #C2C2C2;
}